* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.Signup {
  font-size: 30px;
  font-style: normal;
  font-weight: bolder;
}
.quickeasy {
  color: #606770;
  margin-top: 5px;
  font-style: normal;
  font-weight: lighter;
}
.name input {
  margin-top: 25px;
  width: 200px;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  border: 1px solid #ccd0d5;
}

.emailnum input {
  margin-top: 5px;
  width: 404px;
  padding: 10px 10px 10px 10px;
  border-radius: 5px;
  border: 1px solid #ccd0d5;
}
.datebirth {
  color: #606770;
  font: size 12px;
  font-weight: normal;
  line-height: 20px;
  margin-bottom: 0;
  margin-top: 2px;
}
select {
  padding: 10px 10px 10px 10px;
  width: 132px;
  border-radius: 5px;
  border: 1px solid #ccd0d5;
}
.Gender {
  color: #606770;
  font: size 12px;
  font-weight: normal;
  line-height: 20px;
  margin-bottom: 0;
  margin-top: 2px;
}
.radio {
  display: flex;
}
.radio label {
  margin-top: 20px;
  border: 1px solid #606770;
  margin: 2px;
  width: 132px;
  border-radius: 5px;
  border: 1px solid #ccd0d5;
  padding: 10px 30px 10px 39px;
}
.text2 {
  color: #606770;
  font-size: 12px;
}
.Sign-Up {
  height: 36px;
  padding: 8px;
  margin-left: 90px;
  width: 200px;
  background-color: #209204;
  border-radius: 8px;
  border-color: #209204;
  color: #ffffff;
}
.Main {
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  padding: 10px;
  position: absolute;
  transform: translate(110%, 25%);
}
